<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KIIT Substitute Management System</title>
  <style>
    body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.left-side {
  width: 13%;
  background-color: #11c878;
  color: white;
  padding: 20px;

}

.left-side p {
  margin-bottom: 33px;
}

.left-side ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.left-side li {
  margin-bottom: 27px;
}

.left-side a {
  text-decoration: none;
  color: white;
}

.left-side a:hover{
  text-shadow: 0px 0px 10px rgba(69,69,69,1);
}

.left-side button {
  background-color: transparent;
  color: red;
  border: none;
  cursor: pointer;
  margin-top: 300px;
  font-size: 19px;
}

.right-side {
  width: 78%; 
  background-color: white;
  padding: 20px;
}

.right-side h1, h2 {
  margin-bottom: 10px;
}

.right-side .request {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
 
}
  </style>
</head>

<body>
  <div class="container">
    <div class="left-side">
      <p>Username</p> <ul>
        <li><a href="/create">Create Request</a></li>
        <li><a href="/previous">Previous Request</a></li>
        <li><a href="#">Accepted Request</a></li>
        <li><a href="#">Time Table</a></li>
      </ul>
      <button id="sign-out">Sign Out</button>
    </div>
    <div class="right-side">
      <h1 align="center"> Welcome Teacher to KIIT Substitute Management System</h1>
    <h2>Recent Requests</h2>
</body>
</html>